# What is Python ?

"Python is a high-level, general-purpose programming language."

# Data types and variables

$\textbf{integers and floats}$

In [2]:
a = 2 #assignment of a variable

In [3]:
type(a)

int

In [5]:
a = 3.144
type(a)

float

In [6]:
a

3.144

$\textbf{Strings}$ sequence of characters

In [9]:
name = "Alice"

In [10]:
name

'Alice'

# Booleans

In [12]:
mohammed_is_student = True
mohammed_is_a_doctor = False

mohammed_is_student =

# Operators

Arithmetic

In [14]:
a = 15
b = 4

19

In [15]:
a+b

19

In [16]:
a-b

11

In [17]:
a*b

60

In [18]:
a/b

3.75

In [19]:
a%b

3

In [20]:
a//b

3

In [22]:
# print function

a = 15
print(a)

15

In [23]:
x = 7
y = 1

x = 7
y = 10
print(x == y)  
print(x != y)  
print(x < y)   
print(x >= 7)

False
True
True
True

In [24]:
a = True
b = False
print(a and b)  # Outputs: False (both need to be True)
print(a or b)   # Outputs: True (either one can be True)
print(not a)    # Outputs: False (negates the value of a)

False
True
False

In [25]:
c = 10
c += 5  # Equivalent to c = c + 5
print(c)  # Outputs: 15

c *= 2  # Equivalent to c = c * 2
print(c)  # Outputs: 30

c /= 3  # Equivalent to c = c / 3
print(c)  # Outputs: 10.0

15
30
10.0

Input/Output
print() function:

Displays output in the console.
Multiple arguments can be separated by commas, and Python will insert a space between them.

In [26]:
print("Hello,", "world!")  # Outputs: Hello, world!

# Using formatted strings (f-strings) for more complex output
name = "Alice"
age = 30
print(f"Name: {name}, Age: {age}")  # Outputs: Name: Alice, Age: 30

Hello, world!
Name: Alice, Age: 30

In [27]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print("Full name:", full_name)  # Outputs: John Doe

Full name: John Doe

In [28]:
laugh = "Ha"
print(laugh * 3)  # Outputs: HaHaHa

HaHaHa

In [29]:
message = "hello world"
print(message.upper())  # Outputs: HELLO WORLD
print(message.replace("world", "Python"))  # Outputs: hello Python

HELLO WORLD
hello Python

In [32]:
user_input = input("Enter your name: ")
print("Hello,", user_input)

# Taking numerical input
number = int(input("Enter a number: "))
print("You entered:", number)

Enter your name: ishdfil
Hello, ishdfil
Enter a number: 836894623
You entered: 836894623

In [5]:
user_input = input("Enter text:")
old_word = input("Enter the word you want to replace")
new_word = input("Enter the word you want to add")

new_text   = user_input.replace(old_word, new_word)
print(new_text)

Enter text:Yemen,[b] officially the Republic of Yemen,[c] is a country in West Asia.[11] Located in southern Arabia, it borders Saudi Arabia to the north, Oman to the northeast, the Red Sea to the west, and the Indian Ocean to the south, sharing maritime borders with Eritrea, Djibouti and Somalia across the Horn of Africa. Covering roughly 528,000 square kilometres (203,861 square miles),[12] with a coastline of approximately 2,000 kilometres (1,200 miles), Yemen is the second largest country on the Arabian Peninsula.[13] Sanaa is its constitutional capital and largest city. Yemen's estimated population is 34.7 million, mostly Arab Muslims.[14] It is a member of the Arab League, the United Nations, the Non-Aligned Movement and the Organisation of Islamic Cooperation.
Enter the word you want to replaceYemen
Enter the word you want to addAlyaman
Alyaman,[b] officially the Republic of Alyaman,[c] is a country in West Asia.[11] Located in southern Arabia, it borders Saudi Arabia to the north, Oman to the northeast, the Red Sea to the west, and the Indian Ocean to the south, sharing maritime borders with Eritrea, Djibouti and Somalia across the Horn of Africa. Covering roughly 528,000 square kilometres (203,861 square miles),[12] with a coastline of approximately 2,000 kilometres (1,200 miles), Alyaman is the second largest country on the Arabian Peninsula.[13] Sanaa is its constitutional capital and largest city. Alyaman's estimated population is 34.7 million, mostly Arab Muslims.[14] It is a member of the Arab League, the United Nations, the Non-Aligned Movement and the Organisation of Islamic Cooperation.

In [3]:
# error exception

try:
    age = int(input("Enter your age: "))
    print(f"You are {age} years old.")
except ValueError:
    
    print("Please enter a valid number.")

Enter your age: sds
Please enter a valid number.

SyntaxError: invalid decimal literal (926541901.py, line 1)