Lists(ordered mutable)

In [12]:
my_list = [1, 2, 3, 4, 5]
mixed_list = [1, "hello", 3.14, True]

In [13]:
print(my_list[0])  # Output: 1
print(my_list[-1])  # Output: 5 (last element)

1
5

In [14]:
print(my_list[1:4])  # Output: [2, 3, 4]
print(my_list[:3])   # Output: [1, 2, 3]
print(my_list[2:])   # Output: [3, 4, 5]

[2, 3, 4]
[1, 2, 3]
[3, 4, 5]

In [15]:
my_list.append(6)    # Adds 6 to the end
my_list.remove(3)    # Removes the first occurrence of 3

Tuples: Ordered, Immutable Sequences

In [5]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[0])  # Output: 1
# my_tuple[0] = 10  # This would raise an error

1

In [6]:
my_dict = {"apple": 1, "banana": 2, "orange": 3}
print(my_dict["apple"])  # Output: 1

1

In [7]:
my_dict["grape"] = 4     # Adds a new key-value pair
my_dict["apple"] = 5     # Updates existing value

In [8]:
del my_dict["banana"]    # Removes the key-value pair
popped_value = my_dict.pop("orange")  # Removes and returns the value

 Sets: Unordered Collections of Unique Elements

In [17]:
my_set = {1, 2, 3, 4, 5}

In [18]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

union_set = set1.union(set2)              # {1, 2, 3, 4, 5, 6}
intersection_set = set1.intersection(set2) # {3, 4}

In [19]:
list1 = [1,2,2,3,3,4,5]
seti = set(list1)

In [20]:
seti

{1, 2, 3, 4, 5}

Strings: Immutable Sequences of Characters

In [11]:
my_string = "Hello, World!"
print(my_string[0])     # Output: H
print(my_string[7:12])  # Output: World

# String methods
print(my_string.upper())  # Output: HELLO, WORLD!
print(my_string.split(","))  # Output: ['Hello', ' World!']

H
World
HELLO, WORLD!
['Hello', ' World!']